@font-face {
    font-family: 'Norse-Bold';
    src: url(/photos/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#whole-container {
    display: flex;
    border: solid red;
    height: 100vh;
    width: 100vw;
}

#left-container {
    background-image: url(/photos/GreenTower.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    border: solid blue;
    height: 100vh;
    width: 40vw;
}

#right-container {
    border: solid green;
    display: flex;
    flex-direction: column;

}

#content-left {
    border: solid;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-container {
    border: solid;
    padding: 50px;
}

#create-button {
    background-color: green;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    border: transparent;
    margin-top: 20px;
}

.logo {
    height: 200px;
}

.heading-odin {
    font-family: 'Norse-Bold';
    color: white;
    font-size: 80px;
}

#entire-header-text {
    border: solid pink;
    padding: 50px;
}

.right-header-text {
    font-family: Verdana, 'Times New Roman', Times, serif;
    border: solid;
    width: 75%;
    padding: 1em;
    font-weight: bold;
}

#top,
#middle,
#bottom {
    display: flex;
    gap: 100px;
}

.first,
.last,
.email,
.phone-number,
.password,
.confirm-password {
    display: flex;
    flex-direction: column;
}

input {
    width: 250px;
}